/* Similar free font of the Poster */
@font-face {
    font-family: 'Metropolis-Bold';
    src: url(../fonts/Metropolis-Bold.woff2) format('woff2'),
         url(../fonts/Metropolis-Bold.woff) format('woff');
}
@font-face {
    font-family: 'Metropolis-Regular';
    src: url(../fonts/Metropolis-Regular.woff2) format('woff2'),
         url(../fonts/Metropolis-Regular.woff) format('woff');
}
@font-face {
    font-family: 'SteelTongs';
    src: url("../fonts/SteelTongs.ttf") format('truetype');
}
html {
    font-size: 16px;
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
body{
    margin: 0;
    padding: 0;
}
/*I use the poster as the background*/
.Poster{
    background-image: url(../images/oppenheimer.jpg);
    background-size: cover;
    width: 100%;
    margin: 0;
    padding: 0;
    aspect-ratio: 1000/1482;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Top bar actors name styling*/
.top{
    padding-top: 4% ;
    width: 100%;
    margin: 0 auto;
    font-family: 'Metropolis-Bold', sans-serif;
    display: flex;
    justify-content: center;
    gap: 0.3rem;
}
.top-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 17%;
    color: #f3e9d2;
}

.first-name{
    width: 120%;
}
.first-name > p{
    font-size: 2rem;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 0;
    font-weight: 100;
}
.last-name{

}
.last-name > p {
    width: 120%;
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
    text-align: center;
    font-weight: 100;
}
/* Styling the bottom part of the poster*/
.bottom{
    width: 100%;
    font-family: 'Metropolis-Bold', sans-serif;
    color: #f3e9d2;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0;
    padding: 0;
    margin-top: auto;
    margin-bottom: 4%;
}
.bottom p, .bottom span{
    margin: 0;
    padding: 0;
}
.a-film-by-chistopher-nolan{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    word-spacing: 1rem;
}
.chistopher-nolan{
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: 1rem;
}
.oppenheimer{
    text-decoration: none;
    display: flex;
    width: 100%;
    justify-content: center ;
    align-items: center;
    letter-spacing: 2rem;
    font-size: 9rem;
    height: auto;
    color: #c6532d;
}
.shot-with-imax-film-cameras{
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 0.3rem;
    justify-content: center;
    align-items: center;
    height: auto;
    letter-spacing: 0.4rem;
    font-size: 1.6rem;
}
.imax{
    font-size: 3rem;
    letter-spacing: 0;
 }
/*The TEDIOUS credit*/
.credits{
    display: flex;
    flex-direction: column;
    color: #f3e9d2;
    font-family: 'SteelTongs', sans-serif;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    font-size: 1.5rem;
    margin-top: 1.5%;
}
.credits p, .credits span{
    margin: 0;
    padding: 0;
    word-spacing: 0.2rem;
}
.small{
    font-size: 1.1rem;
}
.two-lines{
    display: inline-flex;
    flex-direction: column;
    font-size: 0.7rem;
    vertical-align: middle;
    text-align: right;
}
.credit-logos{
    display: inline-flex;
    height: 1.5rem;
    vertical-align: middle;
    color: white;
}
/*I have no idea why i can not use the p.g.a lowercase*/
.p-g-a{
    font-size: 1rem;
}
/*Footer styling*/
.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: lightpink;
}
.footer p{
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
}